<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>To Do List {{month}}/{{day}}/{{year}}</h1>
  <h3>{{currentFocus}}</h3>

  <h1>Welcome, {{userName}}</h1>

  <form>
    <input [(ngModel)]="userName" type="text" name="user">
  </form>
  <br>
  <app-task-list [childTaskList]="masterTaskList" (clickSender)="editTask($event)"></app-task-list>
  <app-edit-task [childSelectedTask]="selectedTask" (clickedDone)="finishedEditing()"></app-edit-task>
  <app-new-task (sendTask)="addTask($event)"></app-new-task>
</div>
